<?php

try {
    $pdo = new PDO(
        'pgsql:host=SEU_HOST port=5432; dbname=SEU_BANCO',
        'SEU_USUARIO',
        'SUA_SENHA'
    );
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
} catch (PDOException $e) {
    echo 'Mensagem erro: ' . $e->getMessage();
    die('Erro conexão');
}

?>
