@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*{
  box-sizing: border-box;
}
/* body{
  background-color: rgba(91,55, 183, 1);
  font-family: "Lato",sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin: 0;
  transition: background 0.4s linear;
} */
h1,.lead{
  color: rgb(226,226, 226);
}.tab1-nav-container{
  background-color: #FFF;
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
  box-shadow:0 15px 10px rgba(0,0, 0, 0.16),
  0 3px 6px rgba(0,0, 0, 0.16);
  display: flex;
  padding: 0.5rem 1rem;;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  bottom: 0
}
.tab1{
  /* background-color: #FFF; */
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  transition: background 0.4s linear;
  color: #FFF;
}
.tab1 i{
  font-size: 1.2em;
}
.tab1 p{
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}
.tab1.active{
  background-color: #FFF;
  color: #3c0ba9;
}
.tab1.active p{
  margin-left: 10px;
  max-width: 100px;
  transition: max-width 0.4s linear;
}
